body {
    font-family: 'Fira Sans', sans-serif;
    background-color: white;
    color: #212a30;
    margin-left: 3%;
    margin-right: 3%;
    font-weight: 300;
}

img {
    max-width: 50%;
}

.container {
    border-top: 2px solid #B2A6AC;
    border-bottom: 2px solid #B2A6AC;
}

.intro h1, h2 {
    font-weight: 200;
}

.SD-logo {
    text-align: left;
    margin-top: 0;
    padding-top: 2em;
    width: 40%;
}

.intro {
    padding-right: 10%;

}

.side-menu-projects {
    margin: 0 1em 2em 1em;
}

.section h2 {
    font-weight: 300;
    padding: 3em 0em 5em 0em;
}

.card {
    border-radius: 3px;
    background-color: white;
    opacity: 0.8;
    padding: 0.5em;
    margin-bottom: 1.5em;
    color: #000;
}

.card:hover {
    background-color: lightgreen;
    opacity: 1;
}

footer {
    border-top: 1px solid #2b358c;
    padding: 0 1em 2em 1em;
}

.fa:hover {
    opacity: 1;
}

.fa-github {
    color: black;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

@media screen and (min-width: 500px) and (max-width: 770px) {
    body {
        margin-left: 10%;
        margin-right: 10%;
    }

    header {
        display: flex;
        width: 100%;
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .intro {
        margin-top: 0;
        text-align: right;
        padding: 2%;
        width: 80%;
    }

    .collection {
        padding-top: 1em;
        display: flex;
        width: 100%;
        margin-right: 2em;
    }

    footer {
        border-top: 1px solid #B2A6AC;
        display: flex;
        max-width: 100%;
        padding-bottom: 3%;
        margin-top: 2%;
    }

    .footer-text {
        width: 70%;
        color: #675E5F;
        padding-top: 1%;
    }

}

@media screen and (min-width: 771px) {

    section {
        display: flex;
        padding-top: 4em;
    }

    body {
        margin-left: 10%;
        margin-right: 10%;
    }

    header {
        display: flex;
        width: 100%;
        padding-top: 3em;
    }

    .container {
        border-top: none;
        border-bottom: none;
    }

    .intro {
        margin-top: 0;
        text-align: right;
        padding: 2%;
        width: 80%;
    }

    .collection {
        display: flex;
        width: 100%;
        margin-right: 2em;
    }

    .card {
        margin-left: 1em;
        margin-bottom: 1.5em;
    }

    footer {
        border-top: 1px solid #B2A6AC;
        display: flex;
        max-width: 100%;
        padding-bottom: 3%;
        margin-top: 2%;
    }

    .footer-text {
        width: 80%;
        color: #675E5F;
        padding-top: 1%;
    }

}
